[submodule "arena_tools"]
	path = arena_tools
	url = https://github.com/voshch/arena-tools.git
[submodule "arena_isaac"]
	path = arena_isaac
	url = https://github.com/Social-Nav/arena-isaac.git
[submodule "arena_evaluation"]
	path = arena_evaluation
	url = https://github.com/voshch/arena-evaluation.git
[submodule "arena_robots"]
	path = arena_robots
	url = https://github.com/voshch/robots.git
